<%= form_for(@mailee_template) do |f| %>
  <% if @mailee_template.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mailee_template.errors.count, "error") %> prohibited this mailee_template from being saved:</h2>

      <ul>
      <% @mailee_template.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :html %><br />
    <%= f.text_area :html %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
