<h1>Listing mailee_templates</h1>

<table>
  <tr>
    <th>Thumb</th>
    <th>Title</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @mailee_templates.each do |mailee_template| %>
  <tr>
    <td><%= image_tag mailee_template.thumb %></td>
    <td><%= mailee_template.title %></td>
    <td><%= link_to 'Show', mailee_template %></td>
    <td><%= link_to 'Edit', edit_mailee_template_path(mailee_template) %></td>
    <td><%= link_to 'Destroy', mailee_template, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Mailee template', new_mailee_template_path %>
