<h1>Mensagens no Mailee.me</h1>

<table>
  <tr>
    <th>Status</th>
    <th>Title</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @mailee_messages.each do |mailee_message| %>
  <tr>
    <td><%= mailee_message.human_status %></td>
    <td><%= mailee_message.title %></td>
    <td><%= link_to 'Show', mailee_message %></td>
    <td><%= link_to 'Edit', edit_mailee_message_path(mailee_message) %></td>
    <td><%= link_to 'Destroy', mailee_message, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Mailee message', new_mailee_message_path %>
